
/* 1.2. Clear Fix
========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  cursor: pointer;
  display: inline-block;
  text-decoration: none; 
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 88.5%; 
  margin: 0 auto;
}

h1 { @include flexbasis(15%); }

h2 {
  margin-bottom: 14px;
  font-size: $_36;
  text-transform: uppercase;
}

h3 {
  padding-bottom: 14px;
  position: relative;
  font-size: $_29;
  text-transform: capitalize;
}

h4 {
  font : $_16 $sans-serif;
  text-transform : uppercase;
}

p { 
  color: color(_grey);
  line-height: 27px
}