/* colors */
$colors: (
  "primary": #55defe,
  "secondary" : #46b2dd,
  "ternary" : #4186ed,
  "active": #00008b,
  "_white" : #fff,
  "_black" : #000,
  "_grey" :  #928f9e,
  "_transparent" : transparent,
  "greyshade" : #ddd,
  "f2" : #f2f2f2,
  "_7e" : #7e7e7e,
  "_lightyellow" : #f7c13b,
  "_EEEEEF" : #EEEEEF,
  "_88ecff" : #88ecff
);

//font size
$_1 : 1px;
$_13 : 13px;
$_14 : 14px;
$_16 : 16px;
$_18 : 18px;
$_24 : 24px;
$_28 : 28px;
$_29 : 29px;
$_36 : 36px;
$_40 : 40px;

// font wight
$bold : 700; 
$_500 : 500;
$_550 : 550;
$solid : solid;

// font family
$sans-serif : "sans-serif";
$fontAwesome : "fontAwesome";
