.services { 
  li { 
    padding-top: 176px;  
    border-bottom: 2px $solid color(f2);
    @include flex;
    @include alignitem;
    @include flexcontent;

    @include breakpoint('phone') { 
      padding-top: 110px;
      @include flex-direction(column);
    }

    &:nth-child(2) { 
      @include rowreverse; 

      @include breakpoint('phone') { 
        padding-top: 110px;
        @include flex-direction(column);
      }
    }
  }

  h3 { 
    margin-bottom: 20px;

    &:before {
      content: '';
      width: 6%;
      height: 2px;
      position: absolute;
      bottom: 0;
      background: color(primary);
    }
  }

  img { 
    @extend .banner__img; 

    @include breakpoint('ipad') { max-width: 381px; }  
  }

  figure {
    @include breakpoint('phone') { margin-bottom: 15px; }
  }
}

.services__info {
  @include flexbasis(48.5%); 

  @include breakpoint('ipad') { @include flexbasis(35%); }
  @include breakpoint('phone') { text-align: center; }
}